nav {
display: flex;                 
justify-content: space-between; 
align-items: center;          
margin: 35.02px 171.59px;
}

nav img {
width: 167.02px;
height: 29.46px;
}

.nav_links {
display: flex;                
list-style: none;
gap: 4rem;                   
margin: 0;
padding: 0;
font-size: 34px 15px;
color: white;


}
.nav_links a {
    color: white;
    font-size: 12px; 
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
  }
body{
    background-image: url(CSS\ Advanced/Object.png);
    background-repeat: no-repeat;
    background-size: 1440px 1093px;
    
}
h1 {
    font-size: 120px;
    color: white;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    position: absolute;
    top: 220px;
    left: 377px;
    text-align: center;
    padding: 0%;
    margin: 0%;
    
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('source-sans-pro/SourceSansPro-Bold.otf') format('opentype');
    font-weight: bold;
    
}
@font-face {
    font-family: 'Source Sans Pro Semi';
    src: url('source-sans-pro/SourceSansPro-Semibold.otf') format('opentype');
    
    
}
@font-face {
    font-family: 'Source Sans Pro Light';
    src: url('source-sans-pro/SourceSansPro-Light.otf') format('opentype');
    
    
}
.span-group span {
    
    font-family: 'Source Sans Pro';
    font-weight: bold;
    color: white;
    font-size: 16px;
}
.span-group {
position: absolute;
    top: 361px;
    left: 593px;
    gap: 4rem;
    justify-content: space-between;
    display: flex;
}
button{
    position: absolute;
    top: 419px;
    left: 639px;
    font-size: 14px;
    border-radius: 60px;
    border: 44px;
    border-width: 162px;
    padding: 16px 20px;
    font-family: 'Source Sans Pro Semi';
    color: white;
    background-color: #C271FF;
    background-repeat: no-repeat;
}
.first-h2 {
    font-size: 32px;
    position: absolute;
    top: 631px;
    left: 604px;
    text-align: center;
    padding: 0%;
    margin: 0%;
    font-family: 'Source Sans Pro Light';
    color: white;
    font-weight: lighter;
}
.first-h2 .different{
    font-family: 'Source Sans Pro';
    color: #C271FF;
    font-weight: bold;
}
.people .first-person {
    position: absolute;
    top: 758px;
    left: 217px;
    padding: 0%;
    margin: 0%;
    color: white;
    text-align: center;
}
.people .second-person {
    position: absolute;
    top: 758px;
    left: 508px;
    padding: 0%;
    margin: 0%;
    color: white;
    text-align: center;
}
.people .third-person {
    position: absolute;
    top: 758px;
    left: 787px;
    padding: 0%;
    margin: 0%;
    color: white;
    text-align: center;
}
.people .fourth-person {
    position: absolute;
    top: 758px;
    left: 1076px;
    padding: 0%;
    margin: 0%;
    color: white;
    text-align: center;
}
.people h3{
    font-size: 18px;
    font-family: 'Source Sans Pro';

}
.people p{
    font-size: 16px;
    font-family: 'Source Sans Pro Light' ;
    font-style: italic;
    
}
.fifth-person{
    position: absolute;
    left: 259px;
    padding: 0%;
    margin:0%;
}

.block-quote blockquote{
    font-size: 22px;
    font-family: 'Source Sans Pro Light';
    margin-top: 0%;
}
.block-quote h3 {
    font-family: 'Source Sans Pro';
    font-weight: bold;
    margin-left: 2rem;
    margin-bottom: 0%;
    font-size: 22px;
    margin-top: 0%;
}

.block-quote p{
    font-family: 'Source Sans Pro Light';
    font-style: italic;
    margin-left: 2rem;
    font-size: 22px;
    margin-top: 0;
}
.block-quote{
    position: absolute;
    left: 472px;
}
.second-part {
    background-color: #C271FF;
    padding: 200px 720px;
    display: flex;
    position: absolute;
    top: 1093px;
    left: 0;
    align-items: center;
    color: white;
}
.rating{
    align-items: center;
    justify-content: space-between;
    display: flex;
    text-align: left;

}
.rating h2{
    font-size: 32px;
    position: absolute;
    top: 1582px;
    left: 583px;
    text-align: center;
    font-family: 'Source Sans Pro Light';
    font-weight: lighter;

}
.rating .different{
    font-family: 'Source Sans Pro';
    color: #C271FF;
    font-weight: bold;
}
.rating .first-rating{
    position: absolute;
    top: 1697px;
    left: 158px;
    text-align: left;
}
.rating .second-rating{
    position: absolute;
    top: 1697px;
    left: 444px;

    text-align: left;
}
.rating .third-rating{
    position: absolute;
    top: 1697px;
    left: 729px;
    text-align: left;
}
.rating .fourth-rating{
    position: absolute;
    top: 1697px;
    left: 1014px;
    text-align: left;
    
}
.rating .f-img{
    position: absolute;
    top: 45px;
    left: 85px;
}
.rating .s-img{
    position: absolute;
    top: 45px;
    left: 90px;
    padding: 0%;
    margin: 0%;
    text-align: center;
}
.rating .t-img{
    position: absolute;
    top: 45px;
    left: 90px;
    padding: 0%;
    margin: 0%;
    text-align: center;
}
.rating .fo-img{
    position: absolute;
    top: 45px;
    left: 90px;
    padding: 0%;
    margin: 0%;
    text-align: center;
}
.rating h3{
    font-family: 'Source Sans Pro';
    font-size: 16px;
}
.rating p{
    color: rgba(7, 22, 41, 0.5016);
    font-size: 14px;
    font-family:'Source Sans Pro Light' ;
}
.rating .rat{
    display: flex;
}
.rating h4{
    color: #C271FF;
    font-family: 'Source Sans Pro';
    font-size: 14px;
}
.rating .m8{
    color: #C271FF;
    font-size: 14;
    font-family: 'Source Sans Pro Light';
    position: absolute;
    top: 285px;
    left: 223px;
}
.rating .stars{
    color: #C271FF;
    font-weight: lighter;
}
.ratinng .stars-1{
    color:rgba(7, 22, 41, 0.5016);
}
.black-part{
    position: absolute;
    top: 2126px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(7, 22, 41, 1);
    padding: 272px 720px;
    align-items: center;
}
.black-part h2 {
    position: absolute;
    left: 617px;
    top: 70px;
    font-size: 32px;
    font-family: 'Source Sans Pro Light';
    color: white;
    font-weight: lighter;
}
.black-part .different{
    font-family: 'Source Sans Pro';
    color: #C271FF;
}
.black-part .f-black{
    position: absolute;
    left: 214px;
    top: 188px;
    color: white;
    text-align: center;
}
.black-part .s-black{
    position: absolute;
    left: 498px;
    top: 188px;
    color: white;
    text-align: center;
}
.black-part .t-black{
    position: absolute;
    left: 783px;
    top: 188px;
    color: white;
    text-align: center;
}
.black-part .fo-black{
    position: absolute;
    left: 1069px;
    top: 188px;
    color: white;
    text-align: center;
}
.black-part h3{
    font-family: 'Source Sans Pro';
    font-size: 18px;
}
.black-part p{
    font-family: 'Source Sans Pro Light';
}
.faq h2 {
    position: absolute;
    left: 657px;
    top: 2650px;
    font-size: 60px;
    font-family: 'Source Sans Pro Light';
    font-weight: lighter;
}
.faq .f-h{
    position: absolute;
    left: 242px;
    top: 2799px;
    font-size: 16px;
    font-family: 'Source Sans Pro';
}
.faq .s-h{
    position: absolute;
    left: 812px;
    top: 2799px;
    font-size: 16px;
    font-family: 'Source Sans Pro';
}
.faq .t-h{
    position: absolute;
    left: 242px;
    top: 3244px;
    font-size: 16px;
    font-family: 'Source Sans Pro';
}
.faq .fo-h{
    position: absolute;
    left: 812px;
    top: 3244px;
    font-size: 16px;
    font-family: 'Source Sans Pro';
}
.faq .f-p{
    position: absolute;
    left: 242px;
    top: 2869px;
    text-align: left;
    font-size: 14px;
    line-height: 2;
    font-family: 'Source Sans Pro Light';
    font-weight: lighter;
    color: rgba(7, 22, 41, 0.5016);
}
.faq .s-p{
    position: absolute;
    left: 812px;
    top: 2869px;
    font-size: 14px;
    line-height: 2;
    font-family: 'Source Sans Pro Light';
    font-weight: lighter;
    color: rgba(7, 22, 41, 0.5016)
}
.faq .t-p{
    position: absolute;
    left: 242px;
    top: 3314px;
    font-size: 14px;
    line-height: 2;
    font-family: 'Source Sans Pro Light';
    font-weight: lighter;
    color: rgba(7, 22, 41, 0.5016)
}
.faq .fo-p{
    position: absolute;
    left: 812px;
    top: 3314px;
    font-size: 14px;
    line-height: 2;
    font-family: 'Source Sans Pro Light';
    font-weight: lighter;
    color: rgba(7, 22, 41, 0.5016)
}
.last-part{
    position: absolute;
    top: 3639px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(7, 22, 41, 1);
    padding: 155px 720px;
    color: white;
}
.last-part .l-img{
    position: absolute;
    left: 165px;
}
.last-part p{
    position: absolute;
    left: 672px;
    top: 295px;
    color: rgba(116, 123, 134, 0.588)
}
.last-part .facebook{
    position: absolute;
    left: 1070px;
}